.article{
    background: #0a052a;
    padding: 70px 20px;
  overflow: hidden;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
  animation: fadeIn 0.3s ease;
}

.modal__content {
  background: #fe1414;
  padding: 20px;
  border-radius: 20px;
  transform: scale(0.8);
  animation: popUp 0.4s forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes popUp {
  to { transform: scale(1); }
}

.title{
    font-family: Poppins;
font-weight: 600;
font-size: clamp(24px, 5vw, 35px);
color: #FFFFFF;
line-height: 188%;
letter-spacing: 0%;
text-align: center;
margin-bottom: 20px;
}

.article__title{
    font-family: Poppins;
font-weight: 600;
font-size: clamp(20px, 4vw, 30px);
color: #FFFFFF;
line-height: 188%;
letter-spacing: 0%;
margin-bottom: 20px;
}

.article__text{
    font-family: Poppins;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
opacity: 0.8;
line-height: 188%;
letter-spacing: 0%;
margin-bottom: 20px;
max-width: 450px;
  width: 100%;
}
.img {
  position: absolute;   
  width: 130px;
  right: 20%;
  transform: translateY(-60%, 0);
  z-index: 2;   
  animation: float 3s ease-in-out infinite;
}

@keyframes slideInLeft {
  from { opacity: 0; transform: translateX(-50px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes float {
  0%, 100% { transform: translate(-50%, 0); }
  50% { transform: translate(-50%, -20px); }
}

.images {
  width: 100%;
  height: auto;
  min-height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
}

button{
    width: 25px;
    color: rgb(201, 22, 22);
    font-weight: bold;
}

@media (max-width: 992px) {
  .article__text {
    max-width: 100%;
  }
 
}


@media (max-width: 576px) {
  .article {
    padding: 70px 10px;
  }
  .img {
    width: 100px; 
  }
  .modal__content {
    width: 90%;
    padding: 15px;
  }

  iframe{
    width: 300px;
    height: 200px;
    border-radius: 20px;
  }
}

